@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@font-face {
  font-family: "Zuume";
  src: url("../fonts/Zuume Medium.ttf") format("truetype");
}

:root {
  --font-roboto-flex: "Roboto Flex", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  padding: 20px 40px;
  width: 17vw;
}

.header .menu-burger {
  display: none;
}

.header .header-desktop {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-right: 60px;
}

.header .header-desktop li {
  color: #0f0e35;
  font-family: Zuume;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.3px;
  text-transform: capitalize;
  text-decoration: underline;
}

.header .header-mobile {
  display: none;
}


.header .navigation-bar{
  display: none;

}

@media screen and (max-width: 600px) {

  body{
    overflow: hidden;
  }
 
  .header img {
    padding: 20px 20px;
    width: 40vw;
  }

  .header .menu-burger {
    display: initial;
    width: 27vw;
  }

  .header .header-desktop {
    display: none;
  }

  .header .header-mobile {
    display: block;
    list-style: none;
  }


  .header .header-mobile {
    position: absolute;
    top: 25vw;
    width: 100%;
    background-image: url("C:\Users\Ismail\Desktop\Emasa\client\src\assets\mobile-navbar-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1vw 0 7vw 5vw;

    
  }
  
  .header .header-mobile li {
    color: #fff;
    font-family: Zuume;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.235px;
    border-bottom: 1px white dotted;
    padding: 4vw 0;
  }

  .header .show-mobile-nav{
   transition: all .5s ease-in;
   transform: translateX(-100%);
   animation: slideIn .5s ease-in-out;
  }

  .header .hide-mobile-nav{
    transition: all .5s ease-out;
    animation: slideOut .5s ease-in-out;
  }

  @keyframes slideOut {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 1;
      transform: translateX(0%);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
      display: none;
    }
  }

  .header .navigation-bar{
      list-style-type: none;
      margin-right: 30px;
      display: block;
  }

  .header .navigation-bar li{
    width: 45px;
    height: 5px;
    background-color: black;
    margin-top: 4px;
    transition: all .3s ease-in-out;
  }

  .header .navigation-bar li:nth-child(2){
    margin-left: -5px; 
  }

  .header .rotate-first-nav-stick {
    transform: rotate(45deg);
  }
  
  .header .rotate-second-nav-stick {
    transform: rotate(-45deg) translateX(10px) translateY(-2px);
  }

  .header .slide-last-stick{
    transform: translateX(-1000px);
    animation: hideStick .5s ease-in-out;
  }


  @keyframes hideStick {
    from {
      opacity: 1;
      transform: translateX(0%);
    }
    to {
      opacity: 0;
      transform: translateX(-100px);
      display: none;
    }
  }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) {


  .header img {
    padding: 20px 20px;
    width: 40vw;
  }

  .header .header-desktop {
    display: none;
  }
}
